<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>FullName: {{fullName}}</p>
      <p>FirstName: <input type="text" v-model="firstName" /></p>
      <p>a: <input type="text" v-model="a" /></p>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          firstName: "Dawei",
          lastName: "Lou",
          fullName: "",
          a: "",
        },
        methods: {},
        watch: {
          firstName(newName, oldName) {
            this.fullName = newName + " " + this.lastName;
          },
        },
      });
    </script>
  </body>
</html>
